@use '_variable' as var;
@use '_function' as func;

@mixin border($property:border, $size:1, $color:null, $style:solid){
  $property:if($property, $property, border);
  $color:if($color, $color, var.$color-black);
  $size:func.size(if($size, $size, 1));
  $style:if($style, $style, solid);
  #{$property}: $size $color $style;
}